@charset "UTF-8";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--main-font);
    color: var(--text-color);
}

a,
a:hover {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--main-font);
}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

:root {
    --main-font: 'Poppins', sans-serif;
    --primary-color: #000;
    --accent-color: #DA2535;
    --gray-color: #888;
    --text-color: #222;
    --hover-color: #a5101d;
    --shadow: 0 2px 5px 0 rgba(100, 0, 0, 0.2);
    --trans: all .4s ease-in-out;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: var(--primary-color);
    background-color: #fff;
    margin: 0;
    padding: 0;
    transition: var(--trans);
}

/* box width */

.w25 {
    width: 25%;
}

.w31 {
    width: 31%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn {
    padding: 16px 25px;
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: var(--accent-color);
    border-radius: 8px;
    transition: var(--trans);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hover-color);
}

/*Padding 10 */

.pt-10 {
    padding-top: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-10 {
    padding: 10px;
}

/*Padding 20*/

.pt-20 {
    padding-top: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}
.p-20 {
    padding: 20px;
}

/*Padding 30*/

.pt-30 {
    padding-top: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.p-30 {
    padding: 30px;
}

/*Cols*/

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* text align */

.tl{
    text-align: left;
}

.tc{
    text-align: center;
}

.tr{
    text-align: right;
}

/*Display - Flex*/

.df {
    display: flex;
    flex-wrap: wrap;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.jc-center {
    justify-content: center;
}

/* align itmes */

.ai-start {
    align-items: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}

/*Display - Grid*/

.dg {
    display: grid;
}

.card {
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: 15px;
    text-align: center;
    padding: 30px 50px;
    margin: 0 10px;

}

/* go to top btn start */
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 0;
    transition: all .3s ease-in-out;
}

#myBtn:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}

/* go to top btn end */